footer {
    text-align:center;
    padding: 2px;
    background-color:rgb(35, 0, 31);
    color:white;
    margin-top: auto;
  }

*, *::before, *::after {

    box-sizing: boder-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    padding:0;
    margin:0;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('./360_F_393217240_zfkRyEmOdzBx5VuSm36iNT1Jz36oZmpP.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width:100vw;
    height:100vh;
}


.container {
    color: rgb(255, 255, 255);
    width: 750px;
    max-width: 80%;
    background-image:url('./istockphoto-1072976146-612x612.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-image:url('./b9a1c98503385170377381200afb35ce.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid hsl(160, 94%, 14%);
    padding: 5px 10px;
    color: rgb(248, 248, 248);
    outline: none;
}



.btn:hover {
    border-color: black;
}